.App {
  text-align: center;
  display: flex;
  justify-content: center;
    height: 100vh;
  width: 100vw;
  background-image: url('../public/img/pexels-lisa-fotios-1107717.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  margin-top: 100px;
  height: 500px;
  width: 400px;
  border: 1px solid black;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3)
}
.image {
  height: 200px;
  width: 300px;
  /* border: 1px solid silver; */
  border-radius: 8px;
  margin: 40px auto;
}
.Input {
  margin-top: 12px;
  margin-bottom: 5px;
} 
.Input input {
  height: 25px;
  width: 60%;
  border-radius: 30px;
  padding: 0px 10px;
}
.search-icon {
  font-size: 18px;
}
button {
  border-radius: 75px;
  height: 25px;
  margin-left: 4px;
}
button:hover{
  cursor: pointer;
}
.image img {
  height: 100%;
  width: 100%;
}
.c1 {
  /* border: 1px solid red; */
  height: 50px;
  width: 50px;
}
.other {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.c1 img{
  height: 100%;
  width: 100%;
}
.c1 p {
  font-weight: 700px;
}