.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  height: 100vh;
  background-image: url(../public/img/pexels-david-besh-884788.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-blend-mode: multiply; */
}
.searchbar1{
  width: 400px;
  height: 25px;
  margin: 5px;
  border-radius: 9px;
  padding: 1px 5px;
}

button{
  padding: 3px;
  margin: 7px;
  color: black;
  border-radius: 8px;
}

button:hover{
  cursor: pointer;
}

.images{
  background: none;
}

.icon{
  color: red;
  font-size: 22px;
}
.icon:hover{
  cursor: pointer;
  font-size: 25px;
}

button:hover{
  background-color: aqua;
}